<p>
  <b>Name:</b>
  <%= @artist.name %>
</p>

<%= image_tag @artist.avatar.url(:medium) %>

<% unless @albums.blank? %>
<table>
	<thead>
		<tr>
			<td>Album</td>
			<td>Actions</td>
		</tr>
	</thead>
	<tbody>
	<% @albums.each do |a| %>
		<tr>
			<td><%= a.name %><br /><%= image_tag a.coverart.url(:thumb) %></td>
			<td>
				<%= link_to 'Show', album_path(a) %>
				<%= link_to 'Edit', edit_album_path(a) %>
				<%= link_to 'Destroy', a,  method: :delete  %>
			</td>
		</tr>
		<%= new_album_link 'Add another?' %>
	<% end %>
	</tbody>
</table>
<% else %>
<p>No albums yet. <%= new_album_link 'Add one?' %></p>
<% end %>

<%= link_to 'Edit', edit_artist_path(@artist) %> |
<%= link_to 'Back', artists_path %>
