<%= form_for (@album), :html => { :multipart => true } do |f| %>
  <% if @album.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@album.errors.count, "error") %> prohibited this album from being saved:</h2>

      <ul>
      <% @album.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :artist_id %><br />
    <%= f.select :artist_id, options_from_collection_for_select(@artists, "id", "name"), :prompt => 'Select artist' %>
  </div>
  <div class="field">
    <%= f.label :released %><br />
    <%= f.date_select :released, { :start_year => 1920, :end_year => Time.now.year, :discard_day => true, :discard_month => true } %>
  </div>

  <div class="field">
    <%= f.label :coverart %><br />
	<%= f.file_field :coverart %>
  </div>

  <div class="field">
    <%= f.hidden_field :user_id, :value => current_user.id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
