
<p>
  <b>Name:</b>
  <%= @album.name %>
</p>

<%= image_tag @album.coverart.url(:medium) %>

<p>
  <b>Artist:</b>
  <%= image_tag @album.artist.avatar.url(:thumb) %>
  <%= @album.artist.name %>
</p>

<p>
  <b>Released:</b>
  <%= @album.released.year %>
</p>

<%= link_to 'Edit', edit_album_path(@album) %> |
<%= link_to 'Back', albums_path %>
