
<p>
  <b>Name:</b>
  <%= @album.name %>
</p>

<p>
  <b>Artist:</b>
  <%= @album.artist.name %>
</p>

<p>
  <b>Released:</b>
  <%= @album.released.year %>
</p>

<%= link_to 'Edit', edit_album_path(@album) %> |
<%= link_to 'Back', albums_path %>
